@import 'tailwindcss';
@import "@fontsource/karantina"; /* Import Karantina font styles */

.karantina {
    font-family: 'Karantina', sans-serif;
  }
.jetbrains {
    font-family: 'JetBrains Mono Variable', monospace;
}
@keyframes shutter {
  0% {
    transform: translateY(100%);
  }
  20% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes shutter-reverse {
  0% {
    transform: translateY(-100%);
  }
  20% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.shutter {
  animation: shutter .8s ease-in-out forwards;
}

.shutter-reverse {
  animation: shutter-reverse .8s ease-in-out forwards;
}